@import "../../variables";
$edit-area-height:80px;

.chat-footer {
  position: absolute;
  bottom: 0;
  height: 138px;
  width: 100%;
  background-color: rgba(#000, .2);
  border-radius: 4px;

  .tool-bar {
    .tool-voice {
      i {
        position: absolute;
        font-size: 14px;
        top: 50%;
        left: 50%;
      }
      i.fa-rss {
        transform: translate(-44%, -50%) rotate(45deg);
      }
      i.fa-keyboard-o {
        transform: translate(-50%, -50%)
      }
    }
    .tool-item {
      float: left;
      position: relative;
      //width: 24px;
      //height: 24px;
      //line-height: 24px;
      //margin-top: 5px;
      //margin-left: 10px;
      margin-bottom: 0;
      cursor: pointer;
      color: rgba(#fff, .8);
      font-size: 28px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .content {
    position: absolute;
    bottom: 10px;
    width: 100%;
    .edit-area {
      height: $edit-area-height;
      overflow-y: auto;
      overflow-x: hidden;
      outline: none;
      margin: 0 5px;
      padding: 5px 10px;
      background-color: rgba(#fff, .8);
      border-radius: 4px;
      font-size: 14px;
      font-family: inherit;
    }
    .btn-send {
      width: 100px;
      height: $edit-area-height;
      line-height: $edit-area-height;
      margin-right: 5px;
      color: $white;
      background-color: $cyan;
      font-size: 20px;
      text-align: center;
      border-radius: 4px;
    }
    .chat-voice {
      padding-top: 2px;
    }
  }
  .chat-voice-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.4);
  }
}
@include pc(){
  .tool-bar {
    position: relative;
    padding: 10px 5px 0;
  }
  .tool-item {
    height: 24px;
    line-height: 24px;
    margin-right: 10px;
    &.tool-brow {
      margin-top: 2px;
    }
    &.tool-pic {
      //padding-top: 2px;
    }
    &.tool-red-pick {
      //margin-left: 16px;
      //padding-top: 7px;
      margin-top: 2px;
    }
  }
  .staffs{
    position: relative;
    float: right;
    height: 30px;
    width: 100px;
    //margin-right: 5px;
    //margin-top: 10px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #fff;
    background: rgba(#fff, .2);
    cursor: pointer;
    &>a{
      display: block;
      color:#fff;
      line-height: 28px;
      font-size: 16px;
    }
  }
}

.emoticon-container{
  position: absolute;
  display: none;
  bottom: 35px;
  width: 430px;
  padding: 5px;
  background-color: $white;
  border-radius: 4px;
  box-shadow:  0 0 18px 0 rgba(#000, .3);
}
.emoticon-container.active{
  display: block;
}
.emoticon {
  float: left;
  padding: 2px;
  border: 1px solid $white;
  &:hover{
    border-color: $blue;
  }
}

.cst-serve {
  z-index: 999;
  overflow: hidden;
  display: none;
  position: absolute;
  top: -30px;
  left: -117px;
  padding: 5px 0;
  border-radius: 4px;
  background-color: rgba(9, 23, 32, 0.8);
  &.active {
    display: block;
  }
}

input[type='file'] {
  display: none;
}

@include mobile() {
  $footer-height:56px;
  $edit-area-height:36px;
  
  .chat-footer {
    min-height: $footer-height;
    height: auto;
    border-radius: 0;
    width: 100%;
    border-top: 1px solid $gray-200;
    background-color: rgba($gray-100, 1);
    padding-right: 70px;
    .tool-bar {
      // width: 114px;
      //padding-right: 10px;
      position: absolute;
      bottom: 6px;
      right: 0;

      .tool-item {
        display: inline-block;
        width: 24px;
        margin-left: 0;
        margin-right: 9px;
        color: rgba($gray-600, 1);
        &.tool-send {
          margin-top: 4px;
          font-size: 22px;
          color: $blue;
        }
      }

      .tool-other.tool-item {
        height: 24px;
        margin-top: 8px;
        border: 2px solid #868e96;
        border-radius: 50%;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 2px;
          width: 80%;
          background-color: #868e96;
        }
        .plus-first {
          transform: translate(-50%, -50%);
        }
        .plus-second {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
  
      .staffs{
        position: relative;
      }
    }
    .tool-more {
      z-index: 999;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 112px;
      padding: 15px 0;
      border-top: 1px solid $gray-300;
      background-color: #f8f9fa;
      .tool-more-item {
        //margin-right: 10px;
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0 5px;
        border: 1px solid $gray-300;
        border-radius: 10px;
        background-color: #fff;
        font-size: 28px;
        color: #868e96;
        text-align: center;
      }
      .tool-more-title {
        font-size: 12px;
      }
    }
    .content {
      position: static;
      margin-bottom: 8px;
      margin-top: 10px;
      .edit-area {
        height: auto;
        min-height: $edit-area-height;
        max-height: 4 * $edit-area-height;
        //height: $edit-area-height;
        // max-height: 90px;
        line-height: 30px;
        overflow-y: auto;
        overflow-x: auto;
        outline: none;
        margin: 0 5px;
        padding: 3px 10px;
        background-color: $white;
        border-radius: 0;
        font-size: 16px;
        font-family: inherit;
      }
      .btn-send {
        width: 26px;
        height: $edit-area-height;
        line-height: $edit-area-height;
        margin-right: 8px;
        color: $blue;
        background-color: $gray-100;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
  
  .emoticon-container{
    position: fixed;
    z-index: 100;
    display: none;
    // top: 30px;
    overflow-y: scroll;
    bottom: 110px;
    width: 90%;
    left: 5%;
    padding: 5px;
    img{
      width: 30px;
    }
  }

}

.voice-tip-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba($color: #000000, $alpha: .5);
  border-radius: 5px;
  color: #fff;
  .listening{
    padding: 15px 10px;
  }
  .move-up-to-cancel{
    padding: 15px 10px;
    .tip{
      span{
        background-color: rgba($color: red, $alpha: .6);
        border-radius: 4px;
      }
    }
  }
  .icon{
    padding-top: 15px;
    font-size: 50px;
    line-height: 20px;
    text-align: center;
  }
  .tip{
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    span{
      padding: 5px 10px;
    }
  }
}