<!-- <framework-header></framework-header>

<div class="body-container">
    <router-outlet *ngIf="room" name ="index"></router-outlet>
    <router-outlet *ngIf="room"></router-outlet>
</div>

<framework-footer></framework-footer>  -->

<!-- <div class="route-container index-route">
    <router-outlet *ngIf="room" name ="index"></router-outlet>
</div> -->

<!-- <div class="route-container"> -->
    <!-- <router-outlet *ngIf="room" name="index"></router-outlet> -->
    <router-outlet *ngIf="room"></router-outlet>
<!-- </div> -->