<div class="">
    <form action="" class="fm-wrap modify-password-form form" style="padding-bottom: 0" #modifyPwsForm="ngForm" (ngSubmit)="submit(modifyPwsForm)">
        <div class="modify-password-header clearfix">
            <h1 class="fm-title float-left">修改密码</h1>
            <a href="javascript:;" class="float-right btn-link fm-btn-link" (click)="modalRef.close()">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="fm-body">
            <div class="row pb-3">
                <label for="pwd" class="col-3">原密码</label>
                <div class="col-8 fm-mask" style="padding-bottom: 0">
                    <input type="password" [(ngModel)]="pwdInfo.pwd" #pwd="ngModel" placeholder="请输入原密码" required id="pwd" name="pwd" style="height: 31px; line-height: 31px;" />
                    <div class="fm-error" *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" style="height: 31px; line-height: 31px;">
                        <i class="fa fa-exclamation-circle error-icon"></i>
                        <span *ngIf="pwd.errors.required">登录密码不能为空</span>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <label for="newPwd" class="col-3">密码</label>
                <div class="col-8 fm-mask" style="padding-bottom: 0">
                    <input type="password" [(ngModel)]="pwdInfo.newPwd" #newPwd="ngModel" placeholder="请输入新密码" required minlength="6" id="newPwd" name="newPwd" style="height: 31px; line-height: 31px;"  validateEqual="confirmPwd" reverse="true" />
                    <div class="fm-error" *ngIf="newPwd.invalid && (newPwd.dirty || newPwd.touched)" style="height: 31px; line-height: 31px;">
                        <i class="fa fa-exclamation-circle error-icon"></i>
                        <span *ngIf="newPwd.errors.required">登录密码不能为空</span>
                        <span *ngIf="newPwd.errors.minlength">登录密码长度太短</span>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <label for="confirmPwd" class="col-3 text-truncate">确认密码</label>
                <div class="col-8 fm-mask" style="padding-bottom: 0">
                    <input type="password" [(ngModel)]="pwdInfo.confirmPwd" #confirmPwd="ngModel" placeholder="请再次输入新密码" id="confirmPwd" name="confirmPwd" style="height: 31px; line-height: 31px;" required validateEqual="newPwd" />
                    <div class="fm-error" *ngIf="confirmPwd.invalid && (confirmPwd.dirty || confirmPwd.touched)" style="height: 31px; line-height: 31px;">
                        <i class="fa fa-exclamation-circle error-icon"></i>
                        <span *ngIf="confirmPwd.errors.required">登录密码不能为空</span>
                        <span *ngIf="confirmPwd.errors.validateEqual">两次输入的密码不一致</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 px-3 text-right" style="border-top: 1px solid #e5e5e5">
            <button trip-button type="submit" theme="primary" native-type="submit" loading="true" [disabled]="!modifyPwsForm.form.valid">
                提交
            </button>
        </div>
    </form>
</div>